NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCNwKoD117c06EIUB4l5xmLb1J4JYdu0eU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=whoiswho-hrc-analytics.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=whoiswho-hrc-analytics
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=whoiswho-hrc-analytics.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=753840556479
NEXT_PUBLIC_FIREBASE_APP_ID=1:753840556479:web:4940b416678460bd65f90a
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V08TVDR9SB
NEXT_PUBLIC_APP_ENV=local
